<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">



    <appSettings xdt:Transform="Replace">
        <add key="TempDirectory" value="~/Temp"/>
        <add key="AssignedClientCode" value="BW"/>
        <add key="ClientName" value="BW"/>
        <add key="ReportTimeOutInMinutes" value="20" />
        <add key="WriteLog" value="true"/>
        <add key="WriteReportToLog" value="false" />
        <add key="WriteLogRoleListTimeLog" value="false"/>
        <add key="WriteWorkScreenSaveTimeLog" value="false"/>
        <add key="WritePreWorkScreenSaveTimeLog" value="false"/>
        <add key="WriteAssignPartTimeLog" value="false"/>
        <add key="WriteIMEIExcelUploadLog" value="false"/>
        <add key="WriteSalesOrderSaveTimeLog" value="true" />
        <add key="OrderEntryAutoUpdateDone" value="true"/>
        <add key="LogoPath" value="~/Styles/images/logo.jpg"/>
        
        <add key="TestParseSave" value="false"/>
        <add key="WriteLogUserNameToLog" value=""/>
        <add key="SMTPHost" value="hotmail.com"/>
        <add key="ClientAuthorizedESNEmailAddress" value="jim.willson@hotmail.com"/>
        <add key="PMI_EDI_Directory" value="UploadedExcel"/>
        <add key="PartNumberGridUpdateMax" value="50"/>
        <add key="ProjectStockForSaleFrom" value="Bridge Product"/>
        <!--<add key="WriteLogUserNameToLog" value="dtomchuk"/>-->
    </appSettings>




    <connectionStrings xdt:Transform="Replace">
        <clear/>
        <!-- Temporarily set to Prod, but should nowmally be set to Sandbox.-->
        <!--<add name="DefaultConnectionString" connectionString="Data Source=localhost;Initial Catalog=BW_Prod;Integrated Security=True;Pooling=True"
            providerName="System.Data.SqlClient"/>-->
                        <!-- Sandbox connection -->
    <add name="DefaultConnectionString" connectionString="Data Source=3.96.24.178;Initial Catalog=bridge_sandbox;Persist Security Info=True;User ID=fayzeen;Password=Br!dg3W!r3l3$$132?;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
         <!-- production connection -->
        <!-- <add name="DefaultConnectionString" connectionString="Data Source=3.96.24.178;Initial Catalog=bridge;Persist Security Info=True;User ID=fayzeen;Password=Br!dg3W!r3l3$$132?;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" /> -->
    </connectionStrings>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!--In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute. -->
        <!--<customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>-->
    </system.web>

    <system.webServer xdt:Transform="Replace">
        <modules runAllManagedModulesForAllRequests="true" />
        <!--<rewrite>
            <rules>
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>-->

        <!-- Allow CORS -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type" />
            </customHeaders>
        </httpProtocol>

        <!-- Show errors (NOTE: may not actually do anything) -->
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true" />
    </system.webServer>

    <system.serviceModel xdt:Transform="Replace">
        <services>
            <service name="BW_WebApp.WebServer_01">
                <endpoint address="" behaviorConfiguration="BW_WebApp.WebServer_01AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="BW_WebApp.WebServer_01" />
                <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="BW_WebApp.WebServer_01AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MyServiceTypeBehaviors">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <bindings>
            <webHttpBinding>
                <binding name="webBinding">
                    <!--<security mode="Transport">-->
                    <security mode="None">
                    </security>
                </binding>
            </webHttpBinding>
        </bindings>



    </system.serviceModel>

    <system.web.extensions xdt:Transform="Replace">
        <scripting>
            <scriptResourceHandler enableCompression="true" />
            <!--<webServices>
                <authenticationService enabled="true" requireSSL="true" />
            </webServices>-->
        </scripting>
    </system.web.extensions>

    <system.net xdt:Transform="Replace">
        <mailSettings>
            <smtp deliveryMethod="Network" from="jim.willson@hotmail.com">
                <network defaultCredentials="false" host="mail.notebookdepot.com" userName="xxxxxx"  password="xxxxxx" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>