<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <!--<connectionStrings>

    -->
    <!--   Brian's Machine -->
    <!--
    <add name="GMP" connectionString="Data Source=JIMHOMELT\SQLEXPRESS;Initial Catalog=GMP_Data;Integrated Security=True"/>
    <add name="DefaultConnectionString" connectionString="Data Source=JIMHOMELT\SQLEXPRESS;Initial Catalog=GMP_Data;Integrated Security=True"/>

    -->
    <!--  My Dell Precission Laptop -->
    <!--
    -->
    <!--  Virtual Machine, My Dell Precission Laptop -->
    <!--
    -->
    <!--  
    
    <add name="RDFM" connectionString="Server=RDFM01;Database=RDFM_DATA; User Id =WebAppUser; password=cubalibre"/>
    <add name="RDFM_DataConnectionString" connectionString="Data Source=RDFM01;Initial Catalog=RDFM_DATA; User Id =WebAppUser; password=cubalibre"/>
   
    
    <add name="RDFM" connectionString="Data Source=LAB_SP_VPC\OFFICESERVERS;Initial Catalog=RDFM_Data;Integrated Security=True"/>
    <add name="RDFM_DataConnectionString" connectionString="Data Source=LAB_SP_VPC\OFFICESERVERS;Initial Catalog=RDFM_Data;Integrated Security=True"/>
    -->
    <!--
  </connectionStrings>-->
    <!--  
  <system.web>

      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
  </system.web>
    -->
</configuration>