<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">



    <appSettings xdt:Transform="Replace">
        <add key="TempDirectory" value="~/Temp"/>
        <add key="AssignedClientCode" value="BW"/>
        <add key="ClientName" value="BW"/>
        <add key="ReportTimeOutInMinutes" value="20" />
        <add key="WriteLog" value="true"/>
        <add key="WriteReportToLog" value="false" />
        <add key="WriteLogRoleListTimeLog" value="true"/>
        <add key="WriteWorkScreenSaveTimeLog" value="true"/>
        <add key="WritePreWorkScreenSaveTimeLog" value="true"/>
        <add key="WriteAssignPartTimeLog" value="true"/>
        <add key="WriteIMEIExcelUploadLog" value="true"/>
        <add key="TestParseSave" value="false"/>
        <add key="WriteLogUserNameToLog" value=""/>
        <add key="SMTPHost" value="hotmail.com"/>
        <add key="ClientAuthorizedESNEmailAddress" value="jim.willson@hotmail.com"/>
        <add key="PMI_EDI_Directory" value="UploadedExcel"/>
        <add key="PartNumberGridUpdateMax" value="50"/>
        <add key="ProjectStockForSaleFrom" value="TestProduct"/>
        <!--<add key="WriteLogUserNameToLog" value="xxxxx"/>-->
    </appSettings>

    <connectionStrings xdt:Transform="Replace">
        <clear/>
        <add name="DefaultConnectionString" connectionString="Data Source=Potentiation;Initial Catalog=BW_Clean;Integrated Security=True;Pooling=True" providerName="System.Data.SqlClient"/>        
    </connectionStrings>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <!--In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute. -->
        <!--<customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>-->
    </system.web>


    <system.webServer xdt:Transform="Replace">
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <system.serviceModel xdt:Transform="Replace">
        <services>
            <service name="BW_WebApp.WebServer_01">
                <endpoint address="" behaviorConfiguration="BW_WebApp.WebServer_01AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="BW_WebApp.WebServer_01" />
                <!--<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />-->
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="BW_WebApp.WebServer_01AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MyServiceTypeBehaviors">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <bindings>
            <webHttpBinding>
                <binding name="webBinding">
                    <!--<security mode="Transport">-->
                    <security mode="None">
                    </security>
                </binding>
            </webHttpBinding>
        </bindings>
    </system.serviceModel>

    <system.web.extensions xdt:Transform="Replace">
        <scripting>
            <scriptResourceHandler enableCompression="true" />
            <!--<webServices>
                <authenticationService enabled="true" requireSSL="true" />
            </webServices>-->
        </scripting>
    </system.web.extensions>




    <system.net xdt:Transform="Replace">
        <mailSettings>
            <smtp deliveryMethod="Network" from="jim.willson@hotmail.com">
                <network defaultCredentials="false" host="mail.notebookdepot.com" userName="xxxxxx"  password="xxxxxx" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>

